@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Unbounded:wght@200;300;400;500;600;700;800&display=swap');

* {
  box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

body {
  background-color: #111111;
}

.container {
  max-width: 1250px;
  margin: auto;
}

/* ----------- Text Style -------------- */
.heading-light-01 {
  font-family: 'Unbounded', sans-serif;
  font-weight: 300;
  font-size: 54px;
  font-style: normal;
  line-height: normal;
}

.heading-light-02 {
  font-family: 'Unbounded', sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.text-medium {
  font-family: 'Inter', sans-serif;
  font-size: 12px !important;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.gradient-text-01 {
  background: linear-gradient(
    91deg,
    #c6f1f7 -4.01%,
    #f983e9 36.14%,
    #b877ff 77.44%,
    #c2e9cd 106.11%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-text-02 {
  opacity: 0.3;
  background: linear-gradient(
    91deg,
    #c6f1f7 -4.01%,
    #f983e9 36.14%,
    #b877ff 77.44%,
    #c2e9cd 106.11%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.white-text-01 {
  color: #fff;
}

.white-text-01 {
  color: #e4e4e4;
}

/* --------------------------------------- */

/* ----------- HEADER -------------- */
header {
  background-image: url('/images/bg_header.png');
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 48px;
}

main p {
  color: white;
}

/* ----------- RICH NAV -------------- */
.rich-nav > .flex-container {
  height: 134px;
}

.rich-nav > .grid-container > .item1 {
  grid-area: influenzailla;
}
.rich-nav > .grid-container > .item2 {
  grid-area: about;
}
.rich-nav > .grid-container > .item3 {
  grid-area: services;
}
.rich-nav > .grid-container > .item4 {
  grid-area: cases;
}
.rich-nav > .grid-container > .item5 {
  grid-area: team;
}
.rich-nav > .grid-container > .item6 {
  grid-area: globe;
}
.rich-nav > .grid-container > .item7 {
  grid-area: boostprogram;
}
.rich-nav > .grid-container > .item8 {
  grid-area: product;
}
.rich-nav > .grid-container > .item9 {
  grid-area: book;
}
.rich-nav > .grid-container > .item10 {
  grid-area: blog;
}

.rich-nav > .grid-container {
  display: grid;
  grid-template-areas:
    'influenzailla influenzailla influenzailla influenzailla influenzailla influenzailla influenzailla about about services services services services cases cases cases team team globe'
    'influenzailla influenzailla influenzailla influenzailla influenzailla influenzailla influenzailla boostprogram boostprogram boostprogram boostprogram boostprogram product product product book book blog blog';
}

.rich-nav > .grid-container > .box {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  border: 2px solid #fff;
}

/* ----------- SIMPLE NAV -------------- */
.simple-nav {
  margin-top: 20px;
}

.simple-nav > .grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.simple-nav > .grid-container > .box {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  height: 100px;
}

/* ----------- Section Block 1 -------------- */
.section-block-01 {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  background-color: #b877ff;
}

.section-block-01 > .box {
  flex: 1 1 50%; /* 50% width untuk desktop, 100% width untuk mobile */
  box-sizing: border-box;
  height: 100px; /* Sesuaikan tinggi kotak sesuai kebutuhan */
}
/* --------------------------------------- */

@media (max-width: 600px) {
  .container {
    max-width: 335px;
  }

  /* simple nav */
  .simple-nav > .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .simple-nav > #box3 {
    order: 4; /* Mengubah urutan kotak 3 menjadi 4 pada tampilan mobile */
  }

  .simple-nav > #box4 {
    order: 3; /* Mengubah urutan kotak 4 menjadi 3 pada tampilan mobile */
  }

  /* ----------- Section Block 1 -------------- */
  .section-block-01 > .box {
    flex: 1 1 100%;
  }
}
