@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Unbounded:wght@200;300;400;500;600;700;800&display=swap');

* {
  box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

body {
  background-color: #111111;
}

.container {
  max-width: 1250px;
  margin: auto;
}

/* ----------- Text & Background Style -------------- */
.heading-light-01 {
  font-family: 'Unbounded', sans-serif;
  font-weight: 300;
  font-size: 54px;
  font-style: normal;
  line-height: normal;
}

.heading-light-02 {
  font-family: 'Unbounded', sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.text-medium {
  font-family: 'Inter', sans-serif;
  font-size: 12px !important;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.gradient-text-01 {
  background: linear-gradient(
    91deg,
    #c6f1f7 -4.01%,
    #f983e9 36.14%,
    #b877ff 77.44%,
    #c2e9cd 106.11%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-text-02 {
  opacity: 0.3;
  background: linear-gradient(
    91deg,
    #c6f1f7 -4.01%,
    #f983e9 36.14%,
    #b877ff 77.44%,
    #c2e9cd 106.11%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.transparent-nav {
  opacity: 0.8;
  background: rgba(0, 0, 0, 0.7);
}

.white-text-01 {
  color: #fff;
}

.white-text-02 {
  color: #e4e4e4;
}

.inter-14-400 {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.unbounded-40-300 {
  font-family: 'Unbounded', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.unbounded-30-300 {
  font-family: 'Unbounded', sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.inter-12-400 {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* ----------- HEADER -------------- */
header {
  background-image: url('https://silvianaim02.github.io/silvia-naim-slicing-task/images/bg_header.png');
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 48px;
}

main p {
  color: white;
}

/* ----------- RICH NAV -------------- */
header > .rich-nav {
  margin-bottom: 223px;
}

.rich-nav > .responsive-menu,
.rich-nav > .grid-responsive-menu {
  display: none;
}

.rich-nav > .flex-container {
  height: 134px;
}

.rich-nav > .grid-container > .item1 {
  grid-area: influenzailla;
}
.rich-nav > .grid-container > .item2 {
  grid-area: about;
}
.rich-nav > .grid-container > .item3 {
  grid-area: services;
}
.rich-nav > .grid-container > .item4 {
  grid-area: cases;
}
.rich-nav > .grid-container > .item5 {
  grid-area: team;
}
.rich-nav > .grid-container > .item6 {
  grid-area: globe;
}
.rich-nav > .grid-container > .item7 {
  grid-area: boostprogram;
}
.rich-nav > .grid-container > .item8 {
  grid-area: product;
}
.rich-nav > .grid-container > .item9 {
  grid-area: book;
}
.rich-nav > .grid-container > .item10 {
  grid-area: blog;
}

.rich-nav > .grid-container {
  display: grid;
  grid-template-areas:
    'influenzailla influenzailla influenzailla influenzailla influenzailla influenzailla influenzailla about about services services services services cases cases cases team team globe'
    'influenzailla influenzailla influenzailla influenzailla influenzailla influenzailla influenzailla boostprogram boostprogram boostprogram boostprogram boostprogram product product product book book blog blog';
}

.rich-nav > .grid-container > .box {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  border: 2px solid #fff;
}

.rich-nav > .grid-container > .item1 {
  display: flex;
  align-items: center;
  gap: 51px;
  padding-left: 31px;
}

.rich-nav > .grid-container > .item1 > .logo-wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}

.rich-nav > .grid-container > .item1 > .logo-wrapper > p {
  font-family: 'Unbounded', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.rich-nav > .grid-container > .item1 > p {
  font-family: 'Unbounded', sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* ----------- HERO -------------- */

.hero-section {
  margin-bottom: 82px;
}
.hero-section > .year-wrapper {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 66px;
}

.hero-section > .year-wrapper > .year-text {
  font-family: 'Unbounded', sans-serif;
  font-size: 27px;
  font-style: normal;
  font-weight: 250;
  line-height: normal;
}

.hero-section > .year-wrapper > #year-description-text {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.primary-heading-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.absolute-tagline {
  font-family: 'Unbounded', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.aside-hero-text {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* ----------- SIMPLE NAV -------------- */
.simple-nav {
  margin-top: 20px;
}

.simple-nav > .grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 96px;
}

.simple-nav > .grid-container > .box {
  display: flex;
  justify-content: center;
  height: 192px;
  flex-direction: column;
  gap: 23px;
}

.simple-nav-menu {
  text-decoration: none;
  font-family: 'Unbounded', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.underline-menu {
  width: 100%;
  height: 2px;
  flex-shrink: 0;
  background: white;
}

/* ----------- Section Block 1 -------------- */
.section-block-01 {
  margin-top: 95px;
}

.section-block-01 > .grid-container > .item1 {
  grid-area: A;
  padding-right: 254px;
  display: flex;
  align-items: end;
  padding-bottom: 8px;
}
.section-block-01 > .grid-container > .item2 {
  grid-area: B;
  padding-right: 240px;
}
.section-block-01 > .grid-container > .item3 {
  grid-area: C;
  display: flex;
  padding-top: 58px;
  align-items: end;
}
.section-block-01 > .grid-container > .item4 {
  grid-area: D;
}
.section-block-01 > .grid-container > .item5 {
  grid-area: E;
  padding-right: 240px;
}
.section-block-01 > .grid-container > .item6 {
  grid-area: F;
  display: flex;
  align-items: end;
}

.section-block-01 > .grid-container {
  display: grid;
  grid-template-areas:
    'A A B G G'
    'D D D C C'
    'F F E C C';
}

.section-block-01 > .grid-container > .box {
  padding-top: 31px;
}

.section-block-01 > .grid-container > .item3 > .ball-wrapper {
  margin: auto;
  padding: 0 12px;
  background: #202020;
}

.list-benefit {
  margin-top: 158px;
  display: flex;
  flex-wrap: wrap;
}

.list-benefit > .box {
  flex: 1 1 50%; /* 50% width untuk desktop, 100% width untuk mobile */
  box-sizing: border-box;
  height: 100px; /* Sesuaikan tinggi kotak sesuai kebutuhan */
}

.list-benefit > .box {
  width: 100%;
  height: 289px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 45px 300px 45px 48px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 38px;
}

.list-benefit > .benefit-1 {
  background-image: url('https://silvianaim02.github.io/silvia-naim-slicing-task/images/bg_benefit_01.png');
}
.list-benefit > .benefit-2 {
  background-image: url('https://silvianaim02.github.io/silvia-naim-slicing-task/images/bg_benefit_02.png');
}
.list-benefit > .benefit-3 {
  background-image: url('https://silvianaim02.github.io/silvia-naim-slicing-task/images/bg_benefit_03.png');
}
.list-benefit > .benefit-4 {
  background-image: url('https://silvianaim02.github.io/silvia-naim-slicing-task/images/bg_benefit_04.png');
}

/* --------------SECTION BLOCK 2 (EXPERTISE)------------- */
.section-block-02 > .grid-container > .item1 {
  grid-area: A;
}
.section-block-02 > .grid-container > .item2 {
  grid-area: B;
}
.section-block-02 > .grid-container > .item3 {
  grid-area: C;
}
.section-block-02 > .grid-container > .item4 {
  grid-area: D;
}
.section-block-02 > .grid-container > .item5 {
  grid-area: E;
}
.section-block-02 > .grid-container > .item6 {
  grid-area: F;
}
.section-block-02 > .grid-container > .item7 {
  grid-area: G;
}
.section-block-02 > .grid-container > .item8 {
  grid-area: H;
}

.section-block-02 > .grid-container {
  display: grid;
  grid-template-areas:
    'A A B B B'
    'A A B B B'
    'F F E D C'
    'F F G G G'
    'F F H H H';
}
.section-block-02 > .grid-container > .box {
  color: #b877ff;
}
.section-block-02 > .grid-container > .item1 {
  padding-right: 254px;
  padding-top: 26px;
}
.section-block-02 > .grid-container > .item2 {
  display: flex;
  justify-content: space-between;
  gap: 109px;
  padding: 26px 0;
}
.section-block-02 > .grid-container > .item3 {
  padding: 40px;
}
.section-block-02 > .grid-container > .item4 {
  padding: 40px;
}
.section-block-02 > .grid-container > .item5 {
  padding: 40px;
}
.section-block-02 > .grid-container > .item6 {
  display: flex;
  align-items: end;
  padding-bottom: 152px;
}
.section-block-02 > .grid-container > .item7 {
  padding-bottom: 55px;
  padding-top: 25px;
  padding-left: 51px;
}
.section-block-02 > .grid-container > .item7 > desc {
  padding-right: 10px;
  display: flex;
  gap: 70px;
  padding-right: 200px;
}
.section-block-02 > .grid-container > .item8 {
  padding-top: 21px;
  padding-right: 482px;
}
.section-block-02 > .grid-container > .item3,
.section-block-02 > .grid-container > .item4,
.section-block-02 > .grid-container > .item5,
.section-block-02 > .grid-container > .item7 {
  border: 2px solid #fff;
  gap: 6px;
}

/* --------------SECTION BLOCK 3 (GET STARTED)------------- */
.section-block-03 {
  background-image: url('https://silvianaim02.github.io/silvia-naim-slicing-task/images/bg_expertise_experience.png');
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 84px;
  padding-bottom: 68px;
  margin-top: 71px;
}

.section-block-03 > .container > .top-position-banner {
  display: flex;
  margin-bottom: 312px;
}

.section-block-03 > .container > .top-position-banner > .left-top {
  width: 60%;
}
.section-block-03 > .container > .top-position-banner > .right-top {
  width: 40%;
  display: flex;
  gap: 108px;
}

.section-block-03 > .container > .bottom-position-banner {
  display: flex;
  align-items: center;
}

.section-block-03 > .container > .bottom-position-banner > .left-top {
  width: 60%;
}
.section-block-03 > .container > .bottom-position-banner > .right-top {
  width: 40%;
}

/* --------------SECTION BLOCK 4 (WHAT WE DO)------------- */
.section-block-04 {
  margin-top: 97px;
}

.section-block-04 > .description {
  display: flex;
  gap: 50px;
  margin-bottom: 81px;
}
.section-block-04 > .description > .logo {
  padding-right: 260px;
}

.section-block-04 > .slider-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-block-04 > .slider-wrapper > .title {
  margin-bottom: 71px;
}

.project-slider {
  display: flex;
  margin-bottom: 11px;
}

.project-slider > .box {
  width: 100%;
  height: 337px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 45px 300px 45px 48px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  flex: 1 1 50%; /* 50% width untuk desktop, 100% width untuk mobile */
  box-sizing: border-box;
}

.project-slider > .project-1 {
  background-image: url('https://silvianaim02.github.io/silvia-naim-slicing-task/images/bg_project_01.png');
}

.project-slider > .project-2 {
  background-image: url('https://silvianaim02.github.io/silvia-naim-slicing-task/images/bg_project_02.png');
}

.slider-button-wrapper {
  display: flex;
  gap: 37px;
}

/* --------------FOOTER------------- */
footer > .rich-nav {
  margin-top: 48px;
  margin-bottom: 48px;
}

/* -------------------------------------- */
/* --------------MEDIA QUERY------------- */
/* -------------------------------------- */

@media (max-width: 600px) {
  .container {
    max-width: 335px;
  }

  /* RICH NAVBAR responsive */
  .rich-nav > .grid-container {
    display: none;
  }

  .rich-nav > .responsive-menu > .item1 {
    grid-area: A;
  }
  .rich-nav > .responsive-menu > .item2 {
    grid-area: B;
  }

  .rich-nav > .responsive-menu {
    display: grid;
    grid-template-areas: 'A B';
  }

  .rich-nav > .responsive-menu > .box {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    border: 2px solid #fff;
  }

  .rich-nav > .responsive-menu > .item1 {
    display: flex;
    align-items: center;
    gap: 4px;
    justify-content: center;
  }

  .rich-nav > .responsive-menu > .item1 > p {
    font-family: 'Unbounded', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .rich-nav > .responsive-menu > .item2 > p {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .rich-nav > .grid-responsive-menu > .item1 {
    grid-area: A;
  }
  .rich-nav > .grid-responsive-menu > .item2 {
    grid-area: B;
  }
  .rich-nav > .grid-responsive-menu > .item3 {
    grid-area: C;
  }
  .rich-nav > .grid-responsive-menu > .item4 {
    grid-area: D;
  }
  .rich-nav > .grid-responsive-menu > .item5 {
    grid-area: E;
  }
  .rich-nav > .grid-responsive-menu > .item6 {
    grid-area: F;
  }
  .rich-nav > .grid-responsive-menu > .item7 {
    grid-area: G;
  }
  .rich-nav > .grid-responsive-menu > .item8 {
    grid-area: H;
  }

  .rich-nav > .grid-responsive-menu {
    margin-top: 20px;
    display: none;
    grid-template-areas:
      'A'
      'B'
      'C'
      'D'
      'E'
      'F'
      'G'
      'H';
  }

  .rich-nav > .grid-responsive-menu .box {
    padding: 22px;
    border: 2px solid #fff;
    text-align: center;
  }

  /* HERO */
  .absolute-tagline {
    display: none;
  }

  .primary-heading-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  /* --------------SIMPLE NAV RESPONSIVE------------- */
  .simple-nav > .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .simple-nav > #box3 {
    order: 4; /* Mengubah urutan kotak 3 menjadi 4 pada tampilan mobile */
  }

  .simple-nav > #box4 {
    order: 3; /* Mengubah urutan kotak 4 menjadi 3 pada tampilan mobile */
  }

  .simple-nav > .grid-container {
    gap: 39px;
  }

  .simple-nav > .grid-container > .box {
    gap: 7px;
    height: 90px;
  }

  .simple-nav-menu {
    font-size: 12px;
  }

  /* ----------- SECTION BLOCK 1 RESPONSIVE -------------- */
  .section-block-01 > .grid-container {
    display: grid;
    grid-template-areas:
      'F'
      'B'
      'A'
      'D'
      'E'
      'C';
  }

  .section-block-01 > .grid-container > .item2 {
    grid-area: B;
    padding-right: 0px;
  }
  .section-block-01 > .grid-container > .item3 {
    grid-area: C;
    display: flex;
    padding-top: 20px;
  }
  .section-block-01 > .grid-container > .item5 {
    grid-area: E;
    padding-right: 0px;
  }

  .list-benefit > .box {
    flex: 1 1 100%;
  }

  .list-benefit > .box {
    width: 100%;
    height: 180px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 28px 78px 26px 23px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 23px;
  }

  /* SECTION BLOCK 2 */
  .section-block-02 > .grid-container {
    display: grid;
    grid-template-areas:
      'A A A'
      'H H H'
      'E D C'
      'G G G'
      'F F F'
      'B B B';
  }
  .section-block-02 > .grid-container > .item2 {
    flex-direction: column;
  }
  .section-block-02 > .grid-container > .item3 {
    padding: 0px;
  }
  .section-block-02 > .grid-container > .item4 {
    padding: 0px;
  }
  .section-block-02 > .grid-container > .item5 {
    padding: 0px;
    font-size: 16px;
  }
  .section-block-02 > .grid-container > .item5 > p,
  .section-block-02 > .grid-container > .item4 > p,
  .section-block-02 > .grid-container > .item3 > p {
    font-size: 16px;
  }

  .section-block-02 > .grid-container > .item7 {
    padding-bottom: 55px;
    padding-top: 25px;
    padding-left: 51px;
  }
  .section-block-02 > .grid-container > .item7 > desc {
    padding-right: 10px;
  }
  .section-block-02 > .grid-container > .item8 {
    padding-top: 21px;
    padding-right: 0px;
  }

  /* SECTION BLOCK 3 */
  .hidden-get-started {
    display: none;
  }
  .section-block-03 > .container > .top-position-banner {
    margin-bottom: 43px;
  }
  .section-block-03 > .container > .bottom-position-banner {
    display: flex;
    align-items: left;
    flex-direction: column;
  }

  .section-block-03 > .container > .bottom-position-banner > .left-top {
    width: 100%;
  }
  .section-block-03 > .container > .bottom-position-banner > .right-top {
    width: 100%;
  }
  .section-block-03 > .container > .bottom-position-banner > .right-top > p {
    max-width: 100%;
  }

  /* SECTION BLOCK 4 */
  .section-block-04 > .description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 60px;
  }
  .section-block-04 > .description > .logo {
    padding-right: 10px;
  }

  .project-slider {
    flex-direction: column;
  }
  .project-slider > .box {
    flex: 1 1 100%;
  }

  .project-slider > .box {
    width: 100%;
    height: 180px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 28px 78px 26px 23px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 23px;
  }
}
